In [1]:
#ANS1 Variable contaning string
string_s="pryam"

In [2]:
s

'pryam'

In [6]:
#variable contaning list
my_list=[1,2,-4,6.7,3+7j,"delhi"]

In [7]:
lis

[1, 2, -4, 6.7, (3+7j), 'delhi']

In [13]:
#variable contaning float
float_f=5.5

In [14]:
float_f

5.5

In [19]:
# variable contaning tuple
my_tuple=(1,2,3,4,5)

In [20]:
type(my_tuple)

tuple

In [21]:
var1=''

In [22]:
type(var1)

str

In [23]:
var2='[DS,ML,python]'

In [24]:
type(var2)

str

In [25]:
var3=['DS','ML','python']

In [26]:
type(var3)

list

In [27]:
var4=1.

In [28]:
type(var4)

float

In [33]:
#ANS2 DataTypes
# 1 is string or str
# 2 is string or str
# 3 is list
# 4 is float

In [30]:
# ANS 3

# the / operator is used for division. It performs normal division and returns a float result. Here's an example to demonstrate its usage
result = 100/ 3
print(result)

33.333333333333336

In [32]:
# the % operator is used for the modulus operation, which returns the remainder of a division operation. Here's an example 
result2=10%3
print(result2)

1

In [34]:
# the // operator is used for floor division. It performs division and rounds down the result to the nearest
#whole number (integer). Here's an example to demonstrate its usage
result = 10 // 3
print(result)

3

In [35]:
result=14//3
print(result)

4

In [36]:
#In Python, the ** operator is used for exponentiation. It raises the left operand to the power of the right operand.
#Here's an example to demonstrate its usage:
result = 2 ** 3
print(result)

8

In [37]:
result= 5**3
print(result)

125

In [45]:
#ANS4   ___list of 10
my_list=[1,3,-4,5.5,8.9,3+7j,"delhi",5+6j,100,"pwskill"]
for i in my_list:
    print(i,' ',type(i))

1   <class 'int'>
3   <class 'int'>
-4   <class 'int'>
5.5   <class 'float'>
8.9   <class 'float'>
(3+7j)   <class 'complex'>
delhi   <class 'str'>
(5+6j)   <class 'complex'>
100   <class 'int'>
pwskill   <class 'str'>

In [ ]:
#ANS_5
A=int(input("Enter A value"))
B =int(input("Ente B value"))
count = 0

while A % B == 0:
    A = A // B
    count += 1
    

print(count)

In [ ]:
#ANS_6$
List_my=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in List_my:
    if (i%3==0):
          print(i,"   ""it is divisible")
    else:
         print(i,"   ""it is not divisible")
            # OUTPUT was not coming here but i run on Online compiler so output was coming right

In [ ]:
1    it is not divisible
2    it is not divisible
3    it is divisible
4    it is not divisible
5    it is not divisible
6    it is divisible
7    it is not divisible
8    it is not divisible
9    it is divisible
10    it is not divisible
11    it is not divisible
12    it is divisible
13    it is not divisible
14    it is not divisible
15    it is divisible
16    it is not divisible
17    it is not divisible
18    it is divisible
19    it is not divisible
20    it is not divisible
21    it is divisible
22    it is not divisible
23    it is not divisible
24    it is divisible
25    it is not divisible

In [ ]:
#ANS__7
#IMMUTABLE data types
#Immutable data types are those whose values cannot be changed once they are assigned. 
#If you modify an immutable object, a new object is created with the modified value. 
#Examples of immutable data types  include:
#Integers:
x = 5
print(x)  # Output: 5
x += 1
print(x)  # Output: 6
#tuple
my_tuple=(1,4,5)
#________________________________________________________#

#Mutable data types:
#Mutable data types, on the other hand, can have their values modified after assignment.
#Changes made to mutable objects affect the original object itself. Examples of mutable data types in Python include:

#Lists and dictonaries
python
Copy code
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]
In this example, the list my_list is initially assigned as [1, 2, 3]. When we use the append() method to add the value 4 to the list, the original list is modified in place, and the output shows the updated list [1, 2, 3, 4].